* {
    /* resetting the padding and margin */
    padding: 0;
    margin: 0;

    /* Setting box-sizing */
    box-sizing: border-box;
}

body {
    header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
        /* position: fixed; */


        div.logo {
            height: 100%;
            aspect-ratio: 1/1;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* border: 1px solid white; */
                transform: scale(1);
            }
        }
    }

    nav {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        a {
            color: white;
            font-size: large;
            text-decoration: none;
            /* border: 1px solid white; */
            padding: 6px;
            margin: 4px;
            display: flex;
            align-content: center;
            justify-content: center;

        }

        a:hover {
            color: black;
            transform: scale(1.05);
            transition-duration: 0.5s;

        }
    }

    main {
        max-width: 1000px;
        margin: auto;
        justify-content: space-evenly;
        margin-bottom: 50px;

        div.container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            div.card {
                /* border: 2px solid; */
                box-shadow: 1px 2px 5px 2px rgb(18, 234, 29);
                border-radius: 15px;
                height: 310px;
                width: 150px;
                margin-top: 20px;
                overflow: hidden;
                background-color: white;
                transition-duration: 2s;

                div.card_img {
                    height: 50%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                div.card_text {
                    height: 50%;
                    text-align: center;

                    h3 {
                        height: 30px;
                    }

                    h5 {
                        height: 20px;
                    }

                    p {
                        height: 80px;
                        padding: 4px;
                    }

                    button {
                        height: 20px;
                        width: 100px;
                        padding: 2px;
                        border-radius: 8px;
                        border: 0px;
                        color: white;
                        font-weight: 600;
                        background-color: rgb(16, 102, 231);
                    }
                }
            }

            div.card:hover {
                background-color: rgb(255, 255, 255);
                box-shadow: 1px 2px 5px 2px rgb(18, 234, 29);
                transform: scale(1.05);
                transition-duration: 0.5s;
            }
        }

        #desc {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            div.logo {
                img {
                    height: 200px;
                    aspect-ratio: 1/1;
                }
            }

            article {
                text-align: left;
                padding-left: 5px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                h4 {
                    text-align: center;
                }

                h2 {
                    text-align: center;
                }
            }
        }

        #locations {
            .grid_container {
                margin-top: 10px;
                display: grid;
                grid-template-columns: auto auto;

                .grid_item {
                    width: 300px;
                    margin-top: 10px;
                    padding-top: 5px;
                    box-shadow: 1px 1px 2px;
                    display: flex;
                    justify-content: space-evenly;

                    .card_img {
                        height: 100px;
                        width: 50%;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .card_body {
                        width: 50%;
                        padding-left: 5px;

                        ul {
                            height: 100%;
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            li {
                                strong {
                                    color: blue;
                                }
                            }

                        }
                    }
                }
            }
        }

        div.box-container {
            /* height: 250px;
            width: 200px;
            background-color: rgb(120, 156, 187);
            border: 2px solid greenyellow; */

            div.box {
                margin: auto;
                text-align: center;
                height: 220px;
                width: 220px;
                padding: 15px;
                background-color: rgb(145, 22, 22);
                background: url(images/logo/logo.jpeg);
                background-blend-mode:li;
                background-position: center;
                border: 2px solid;
                border-radius: 20px;

                position: fixed;
                top: 50%;
                /* bottom: 0; */
                left: 50%;
                transform: translate(-50%, -50%);

                form {
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;
                    justify-content: center;
                    align-items: center;

                    input,button {
                        text-align: center;
                        border-radius: 15px;
                        margin-top: 10px;
                        padding: 5px;
                    }
                }
            }
        }
    }

    footer {
        position: fixed;
        height: 25px;
        width: 100%;
        background-color: aquamarine;
        color: white;
        bottom: 0;
        z-index: 5;

        p {
            text-align: center;
        }
    }
}